@model IEnumerable<OganiAdmin.Models.Product>

@{
    ViewData["Title"] = "Best Sellers";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}

<h1>Best Sellers</h1>

@if (Model.Any())
{
    <div class="col-12">
        
        <div class="bg-light rounded h-100 p-4">
            <div>
                <a asp-action="ShowBestSeller" asp-route-topN="3" class="btn btn-primary">Top 3</a>
                <a asp-action="ShowBestSeller" asp-route-topN="5" class="btn btn-primary">Top 5</a>
                <a asp-action="ShowBestSeller" asp-route-topN="10" class="btn btn-primary">Top 10</a>
            </div>
            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Sell Quantity</th>
                            <th scope="col">Category</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <th scope="row">@product.ProductId</th>
                                <td>@product.ProductQuantity</td>
                                <td>@product.ProductDesc</td>
                                <td>@product.ProductPrice</td>
                                <td>@product.SellQuantity</td>
                                <td>@product.Cate.CateName</td>
                                <td>
                                    <a href="#" class="me-4"><i class="fa-solid fa-arrows-rotate"></i></a>
                                    <a href="#"><i class="fa-solid fa-trash-can" style="width: 24px; height: 24px"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p>No products found.</p>
}
